# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Logs
*.log

# NuGet
packages/

# Windows
Thumbs.db
Desktop.ini